<div class="movie-item-style-2">
    <img src="{{movie.Mimg}}" alt="">
    <div class="mv-item-infor">
        <h6><a (click)="goToDetails()">{{movie.Mname}} <span>({{movie.Myear}})</span></a></h6>
        <p class="rate"><i class="ion-android-star"></i><span>{{movie.Mrate}}</span> /10</p>
        <p class="describe">{{movie.Mname}} is {{movie.Mgenere}}</p>
        <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: {{movie.Myear}}</span></p>
        <p>Director: <a href="#">Joss Whedon</a></p>
        <p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
    </div>
</div>
